/* Global styles */
@font-face {
  font-family: 'Fanwood';
  src: url("../fonts/Fanwood/FanwoodText-Regular.ttf");
}

@font-face {
  font-family: 'Suravaram';
  src: url("../fonts/Suravaram/Suravaram-Regular.ttf");
}

@font-face {
  font-family: 'Mythras';
  src: url("../fonts/Mythras/Mythras.otf");
}

@font-face {
  font-family: 'Amethysta';
  src: url("../fonts/Amethysta/Amethysta-Regular.ttf");
}

div.window-app section.window-content {
  background: url("../assets/sheet/sheet-background.jpg");
  background-repeat: repeat;
  background-attachment: local;
}

#logo {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../assets/sheet/mythras-gateway-logo-black-small.png") no-repeat;
  width: 100px;
  /* Width of new image */
  height: 46px;
  /* Height of new image */
  padding-left: 100px;
  /* Equal to width of new image */
}

.desc {
  height: 100%;
  margin-bottom: 0px;
}

.desc .editor {
  height: 100%;
}

.desc .editor .editor-content h1 {
  line-height: 16px;
  font-size: 28px;
  height: 28px;
  padding-top: 2px;
  margin: 0px 0px 8px;
}

.desc .editor .editor-content h2 {
  line-height: 16px;
  font-size: 21px;
  height: 21px;
  margin: 0px 0px 8px;
}

.desc .editor .editor-content p {
  font-size: 14px;
  margin: 7px 0px;
}

.desc .editor div.tox.tox-tinymce {
  height: 100% !important;
}

/* Styles limited to mythras sheets */
.mythras .window-content {
  padding: 0px;
  overflow-x: scroll;
}

.mythras .char-sheet {
  min-width: 700px;
}

.mythras .mythras-symbols {
  height: 38px;
  font-family: 'Mythras';
  font-size: 2em;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 38px;
  flex: 0 0 38px;
  overflow: hidden;
  word-wrap: break-word;
  padding: 5px;
}

.mythras ::-webkit-scrollbar {
  background: #eeeeee;
  width: 8px;
  border-radius: 0px;
  border: none;
}

.mythras ::-webkit-scrollbar-thumb {
  border: none;
  background: #6c0300;
  border-radius: 0px;
}

.mythras .increased-attribute {
  color: #4fa04d;
}

.mythras .decreased-attribute {
  color: #c11f1f;
}

.mythras header.actor-sheet-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: url("../assets/sheet/header-background-pattern.jpg");
  background-repeat: repeat;
  color: white;
  padding: 10px;
  -webkit-box-shadow: inset 0 -7px 9px -7px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -7px 9px -7px rgba(0, 0, 0, 0.5);
}

.mythras header.actor-sheet-header input {
  border: 0;
}

.mythras header.actor-sheet-header input:focus {
  outline: none;
  outline-style: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mythras header.actor-sheet-header .input-label {
  padding: 0px;
  margin: 0px;
  font-size: 0.8em;
  text-shadow: 0px 0px 6px black;
}

.mythras header.actor-sheet-header .header-personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
}

.mythras header.actor-sheet-header .header-personal .names input {
  color: white;
  border-bottom: solid white 1px;
  border-radius: 0;
  font-family: 'Fanwood';
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 0px 6px black;
}

.mythras header.actor-sheet-header .header-personal .names input:focus {
  background-color: rgba(255, 255, 255, 0.05);
}

.mythras header.actor-sheet-header .header-personal .names .char-name {
  font-size: 2em;
  height: 35px;
}

.mythras header.actor-sheet-header .header-personal .names .player-name {
  margin-top: 13px;
  font-size: 1.3em;
}

.mythras header.actor-sheet-header .header-personal .token-img {
  border-radius: 0;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(53, 40, 40, 0.4);
  box-shadow: 0px 0px 6px 2px rgba(53, 40, 40, 0.4);
  margin-right: 10px;
}

.mythras header.actor-sheet-header .header-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mythras header.actor-sheet-header .header-stats input {
  background-color: white;
  width: 54px;
  padding-right: 20px;
  height: 54px;
  text-align: right;
  font-size: 2.3em;
  font-family: 'Suravaram';
  border-radius: 30px;
  margin-bottom: 5px;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
  margin-left: 5px;
}

.mythras header.actor-sheet-header .header-stats .experience-rolls {
  padding: 0px;
  text-align: center;
}

.mythras header.actor-sheet-header .header-stats .point-total {
  width: 15px;
  height: 20px;
  margin: 0;
  left: 40px;
  color: black;
  position: relative;
  top: -33px;
  font-size: 0.7em;
}

.mythras header.actor-sheet-header .header-stats .input-label {
  width: 90px;
  text-align: center;
  height: 28px;
}

.mythras header.actor-sheet-header .header-stats .stats-container {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mythras header.actor-sheet-header .header-stats .stats-container .number-input-container {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mythras header.actor-sheet-header .header-stats .stats-container .number-input-container .plus-minus-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1.2em;
}

.mythras header.actor-sheet-header .header-stats .stats-container .number-input-container .plus-minus-buttons a:hover {
  text-shadow: 0px 0px 5px white;
}

.mythras header.actor-sheet-header .header-stats .stats-container .number-input-container .plus-minus-buttons a:active {
  color: #ddd;
}

.mythras .tabs > * {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.mythras nav.sheet-tabs {
  font-family: 'Suravaram';
  font-size: 1.2em;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
}

.mythras nav.sheet-tabs div {
  display: inline-block;
  width: 80px;
}

.mythras nav.sheet-tabs a:hover {
  text-shadow: none;
}

.mythras nav.sheet-tabs .dividing-diamond {
  width: 7px;
  height: 7px;
  border: 0;
}

.mythras nav.sheet-tabs .active {
  text-shadow: none;
}

.mythras nav.sheet-tabs a:after {
  display: block;
  content: '';
  border-bottom: solid 1px #333;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  -o-transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.mythras nav.sheet-tabs a:hover:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.mythras nav.sheet-tabs a.active:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.mythras section.sheet-body {
  padding: 10px;
}

.mythras div.abilities {
  margin: 0;
  height: calc(100% - 25px);
}

.mythras div.abilities > h2 {
  margin-top: 5px;
  margin-bottom: 13px;
  color: #191813;
  border: none;
  font-size: 21px;
}

.mythras div.abilities > div {
  height: 100%;
  padding: 5px;
  border: solid rgba(0, 0, 0, 0.2) 1px;
}

.mythras div.abilities > div .desc {
  height: 100%;
  margin-bottom: 0px;
}

.mythras div.abilities > div .desc .editor {
  height: 100%;
}

.mythras div.abilities > div .desc .editor div.tox.tox-tinymce {
  height: 100% !important;
}

.mythras div.core h2 {
  margin: 0;
  margin-bottom: 8px;
  border: none;
  color: #191813;
}

.mythras div.core hr {
  margin: 15px 0px;
  color: black;
  border-color: black;
  background-color: black;
  height: 1px;
  border: 0;
}

.mythras div.core input:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.mythras div.core input:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.mythras div.core .core-top-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mythras div.core .core-top-flex input {
  border: 0;
}

.mythras div.core .core-top-flex input:focus {
  outline: none;
  outline-style: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mythras div.core .core-top-flex .input-label {
  font-size: 0.7em;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.mythras div.core .core-top-flex .core-personal-info {
  padding-right: 10px;
  margin-right: 10px;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  border-right: solid 1px rgba(0, 0, 0, 0.2);
}

.mythras div.core .core-top-flex .core-personal-info .core-personal-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mythras div.core .core-top-flex .core-personal-info .core-personal-flex input {
  margin-bottom: 8px;
  border-radius: 0;
  border-bottom: solid rgba(0, 0, 0, 0.5) 1px;
  background-color: rgba(0, 0, 0, 0.05);
}

.mythras div.core .core-top-flex .core-personal-info .core-personal-flex input:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.mythras div.core .core-top-flex .core-personal-info .core-personal-flex input:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.mythras div.core .core-top-flex .core-personal-info .core-personal-flex .core-personal-left-info {
  padding-right: 3px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mythras div.core .core-top-flex .core-personal-info .core-personal-flex .core-personal-right-info {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mythras div.core .core-top-flex .core-personal-info .core-personal-flex .core-personal-right-info .age-height-weight-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mythras div.core .core-top-flex .core-personal-info .core-personal-flex .core-personal-right-info .age-height-weight-flex .age {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  margin-right: 2px;
}

.mythras div.core .core-top-flex .core-personal-info .core-personal-flex .core-personal-right-info .age-height-weight-flex .height {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
  margin-right: 2px;
}

.mythras div.core .core-top-flex .core-personal-info .core-personal-flex .core-personal-right-info .age-height-weight-flex .weight {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.mythras div.core .core-top-flex .core-personal-info .fatigue-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mythras div.core .core-top-flex .core-personal-info .fatigue-container select {
  border: 0;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.05);
}

.mythras div.core .core-top-flex .core-personal-info .fatigue-container select:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.mythras div.core .core-top-flex .core-personal-info .fatigue-container select:focus {
  outline: none;
  outline-style: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.mythras div.core .core-top-flex .core-personal-info .fatigue-container p {
  margin: 0;
}

.mythras div.core .core-top-flex .core-characteristics-attributes-contianer {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.mythras div.core .core-top-flex .core-characteristics-attributes-contianer .core-characteristics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mythras div.core .core-top-flex .core-characteristics-attributes-contianer .core-characteristics > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 68px;
}

.mythras div.core .core-top-flex .core-characteristics-attributes-contianer label {
  margin-top: 5px;
  font-size: 0.7em;
  margin-bottom: 8px;
}

.mythras div.core .core-top-flex .core-characteristics-attributes-contianer input {
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  text-align: center;
}

.mythras div.core .core-top-flex .core-characteristics-attributes-contianer .core-attributes div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.mythras div.core .core-top-flex .core-characteristics-attributes-contianer .core-attributes div .attribute-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mythras div.core .core-top-flex .core-characteristics-attributes-contianer .core-attributes div .attribute-container .attribute {
  min-width: 50px;
  padding: 5px;
  height: 50px;
  border: solid rgba(0, 0, 0, 0.2) 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mythras div.core .core-top-flex .core-characteristics-attributes-contianer .core-attributes div .attribute-container .attribute p {
  margin: 0;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}

.mythras div.core .core-top-flex .core-characteristics-attributes-contianer .core-attributes div .attribute-container .attribute div {
  width: 25px;
}

.mythras div.core .core-top-flex .core-characteristics-attributes-contianer .core-attributes div .attribute-container .attribute div input {
  font-size: 0.7em;
  height: 15px;
  width: 15px;
  margin: 0;
  margin-top: 2px;
  text-align: left;
}

.mythras div.core .core-top-flex .core-characteristics-attributes-contianer .core-attributes div .attribute-container .attribute-label {
  font-size: 0.7em;
  width: 60px;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 8px;
}

.mythras div.core .core-top-flex .core-characteristics-attributes-contianer .movement-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mythras div.core .core-top-flex .core-characteristics-attributes-contianer .movement-container .enc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mythras div.core .core-top-flex .core-characteristics-attributes-contianer .movement-container .enc-container .enc {
  width: 70px;
  padding: 5px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mythras div.core .core-top-flex .core-characteristics-attributes-contianer .movement-container .enc-container .enc p {
  margin: 0;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
}

.mythras div.core .core-top-flex .core-characteristics-attributes-contianer .movement-container .enc-container .enc-label {
  font-size: 0.9em;
  width: 70px;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 8px;
}

.mythras div.core .core-top-flex .core-characteristics-attributes-contianer .movement-container .movement-inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 308px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.mythras div.core .core-top-flex .core-characteristics-attributes-contianer .movement-container h3 {
  margin: 0;
  margin-right: 5px;
}

.mythras div.core .core-top-flex .core-characteristics-attributes-contianer .movement-container p {
  width: 40px;
  font-size: 1.1em;
  text-align: center;
  margin: 0;
}

.mythras div.core .core-top-flex .core-characteristics-attributes-contianer .movement-container .movement-label {
  width: 40px;
  font-size: 0.7em;
  margin-top: 5px;
  text-align: center;
}

.mythras div.core .core-top-flex .core-characteristics-attributes-contianer .movement-container div .movement-mod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  margin-left: 22px;
}

.mythras div.core .core-top-flex .core-characteristics-attributes-contianer .movement-container div .movement-mod input {
  font-size: 0.7em;
  height: 15px;
  width: 15px;
  margin: 0;
  margin-top: 2px;
  text-align: left;
}

.mythras div.core .core-skills .skill-tables {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.mythras div.core .core-skills .skill-tables > div .add-skills-button {
  float: right;
  margin-right: 10px;
  font-size: 1.2em;
}

.mythras div.core .core-skills .skill-tables > div div {
  margin-bottom: 10px;
  border: solid rgba(0, 0, 0, 0.2) 1px;
  padding: 5px;
}

.mythras div.core .core-skills .skill-tables > div div table {
  background: none;
  border: none;
}

.mythras div.core .core-skills .skill-tables > div div th {
  text-align: left;
}

.mythras div.core .core-skills .skill-tables > div div thead {
  background: none;
  color: black;
  text-shadow: none;
}

.mythras div.core .core-skills .skill-tables > div div .delete-column {
  width: 20px;
}

.mythras div.equipment .damageModCheck {
  pointer-events: none;
}

.mythras div.equipment .enc-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: row;
  -ms-flex-align: row;
  align-items: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mythras div.equipment .enc-row .enc-value {
  font-size: 1.25em;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  min-width: 36px;
  text-align: center;
}

.mythras div.equipment .enc-row .enc-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: row;
  -ms-flex-align: row;
  align-items: row;
  font-size: 1.2em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mythras div.equipment .enc-row .enc-tag {
  margin-right: 10px;
  margin-bottom: 0;
}

.mythras div.equipment .equipment-tables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.mythras div.equipment .equipment-tables h2 {
  border: 0;
}

.mythras div.equipment .equipment-tables > div {
  width: 100%;
  margin-bottom: 20px;
  border: solid rgba(0, 0, 0, 0.2) 1px;
  padding: 5px;
}

.mythras div.equipment .equipment-tables > div .add-equipment-button {
  float: right;
  margin-right: 8px;
  font-size: 1.2em;
}

.mythras div.equipment .equipment-tables > div h3 {
  margin-bottom: 0px;
  color: #840701;
}

.mythras div.equipment .equipment-tables > div table {
  margin: 0;
  background: none;
  border: none;
}

.mythras div.equipment .equipment-tables > div th {
  text-align: left;
}

.mythras div.equipment .equipment-tables > div thead {
  background: none;
  color: black;
  text-shadow: none;
}

.mythras div.equipment .equipment-tables > div .delete-column {
  width: 20px;
}

.mythras div.equipment .equipment-tables .top-equipment-tables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 0;
  padding: 0;
}

.mythras div.equipment .equipment-tables .top-equipment-tables > div {
  width: 49.5%;
}

.mythras div.equipment .equipment-tables .top-equipment-tables > div .add-items-button {
  float: right;
  margin-right: 8px;
  font-size: 1.2em;
}

.mythras div.equipment .equipment-tables .top-equipment-tables > div div {
  border: solid rgba(0, 0, 0, 0.2) 1px;
  padding: 5px;
}

.mythras div.equipment .equipment-tables .top-equipment-tables > div div table {
  background: none;
  border: none;
}

.mythras div.equipment .equipment-tables .top-equipment-tables > div div th {
  text-align: left;
}

.mythras div.equipment .equipment-tables .top-equipment-tables > div div thead {
  background: none;
  color: black;
  text-shadow: none;
}

.mythras div.equipment .equipment-tables .top-equipment-tables > div div .delete-column {
  width: 20px;
}

.mythras div.notes {
  margin: 0;
  height: calc(100% - 25px);
}

.mythras div.notes > h2 {
  margin-top: 5px;
  margin-bottom: 13px;
  color: #191813;
  border: none;
  font-size: 21px;
  border: 0;
}

.mythras div.notes > div {
  height: 100%;
  padding: 5px;
  border: solid rgba(0, 0, 0, 0.2) 1px;
}

.mythras div.notes > div h2 {
  margin: 6px 0;
}

.mythras div.combat .damageModCheck {
  pointer-events: none;
}

.mythras div.combat .combat-tables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.mythras div.combat .combat-tables .armorLocationHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mythras div.combat .combat-tables h2 {
  border: 0;
}

.mythras div.combat .combat-tables > div {
  width: 100%;
  margin-bottom: 20px;
  border: solid rgba(0, 0, 0, 0.2) 1px;
  padding: 5px;
}

.mythras div.combat .combat-tables > div .add-skills-button {
  float: right;
  margin-right: 8px;
  font-size: 1.2em;
}

.mythras div.combat .combat-tables > div .add-equipment-button {
  float: right;
  margin-right: 8px;
  font-size: 1.2em;
}

.mythras div.combat .combat-tables > div h3 {
  margin-bottom: 0px;
  color: #840701;
}

.mythras div.combat .combat-tables > div table {
  margin: 0;
  background: none;
  border: none;
}

.mythras div.combat .combat-tables > div table .hitLoc-flex-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.mythras div.combat .combat-tables > div table .hitLoc-flex-cell input {
  width: 25px;
  text-align: center;
}

.mythras div.combat .combat-tables > div th {
  text-align: left;
}

.mythras div.combat .combat-tables > div thead {
  background: none;
  color: black;
  text-shadow: none;
}

.mythras div.combat .combat-tables > div .delete-column {
  width: 20px;
}

.mythras div.combat .combat-tables .top-combat-tables {
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 0;
  padding: 0;
}

.mythras div.combat .combat-tables .top-combat-tables input,
.mythras div.combat .combat-tables .top-combat-tables textarea {
  border-radius: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
}

.mythras div.combat .combat-tables .top-combat-tables input:focus,
.mythras div.combat .combat-tables .top-combat-tables textarea:focus {
  border: none;
  outline: none;
  outline-style: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.mythras div.combat .combat-tables .top-combat-tables input:hover,
.mythras div.combat .combat-tables .top-combat-tables textarea:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.mythras div.combat .combat-tables .top-combat-tables .max-hp {
  margin: 0;
  margin-left: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mythras div.combat .combat-tables .top-combat-tables .max-hp-mod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 5px;
  width: 30px;
}

.mythras div.combat .combat-tables .top-combat-tables .max-hp-mod input {
  font-size: 0.7em;
  height: 15px;
  width: 15px;
  margin: 0;
  margin-top: 2px;
  text-align: left;
}

.mythras div.combat .combat-tables .top-combat-tables .hit-loc-text {
  margin: 0px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mythras div.combat .combat-tables .top-combat-tables > div .roll-hitlocations-button {
  float: right;
  margin-right: 8px;
}

.mythras div.combat .combat-tables .top-combat-tables > div > div {
  border: solid rgba(0, 0, 0, 0.2) 1px;
  padding: 5px;
}

.mythras div.combat .combat-tables .top-combat-tables > div > div table {
  background: none;
  border: none;
}

.mythras div.combat .combat-tables .top-combat-tables > div > div th {
  text-align: center;
}

.mythras div.combat .combat-tables .top-combat-tables > div > div thead {
  background: none;
  color: black;
  text-shadow: none;
}

.mythras div.combat .combat-tables .top-combat-tables > div > div .hitloc-location-cell {
  text-align: left;
  width: 120px;
}

.mythras div.combat .combat-tables .top-combat-tables > div > div .hitloc-hp-cell {
  width: 100px;
}

.mythras div.combat .combat-tables .top-combat-tables > div > div .hitloc-range-cell {
  width: 80px;
}

.mythras div.combat .combat-tables .top-combat-tables > div > div .delete-column {
  width: 20px;
}

.mythras div.combat .combat-tables .top-combat-tables > div.tables-left {
  margin-bottom: 8px;
  width: 69%;
}

.mythras div.combat .combat-tables .top-combat-tables > div.tables-right {
  width: 30%;
}

.mythras div.combat .combat-tables .top-combat-tables > div.tables-right > div {
  margin-bottom: 8px;
}

.mythras div.combat .combat-tables .top-combat-tables > div.tables-right > div textarea {
  font-family: 'Amethysta';
  height: 62px;
}

.mythras .skill-sheet {
  min-width: 400px;
}

.mythras .skill-sheet h2 {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.mythras .skill-sheet .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  height: 68px;
}

.mythras .skill-sheet .sheet-body {
  padding: 0px 10px;
}

.mythras .skill-sheet input:focus {
  outline: none;
  outline-style: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mythras .skill-sheet input {
  border: 0;
}

.mythras .skill-sheet select {
  border: 0;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.05);
}

.mythras .skill-sheet select:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.mythras .skill-sheet select:focus {
  outline: none;
  outline-style: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.mythras .skill-sheet .header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url("../assets/sheet/header-background-pattern.jpg");
  background-repeat: repeat;
  -webkit-box-shadow: inset 0 -7px 9px -7px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -7px 9px -7px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.mythras .skill-sheet .header-flex > h1 {
  text-align: right;
  color: white;
  font-family: 'Amethysta';
  margin: 0px;
  font-size: 2.5em;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mythras .skill-sheet .header-flex h1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mythras .skill-sheet .header-flex h1 input {
  width: 100%;
  margin: 0px;
  color: white;
  border: 0;
  border-bottom: solid white 1px;
  border-radius: 0;
  font-family: 'Fanwood';
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 0px 6px black;
}

.mythras .skill-sheet .header-flex h1 input:focus {
  background-color: rgba(255, 255, 255, 0.05);
}

.mythras .skill-sheet .header-flex h1 input:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.mythras .skill-sheet .upper-flex {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mythras .skill-sheet .upper-flex .skill-section label p {
  font-size: 0.7em;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.mythras .skill-sheet .upper-flex .skill-section .improvements-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.mythras .skill-sheet .upper-flex .skill-section .improvements-flex input {
  width: 50px;
  margin-bottom: 8px;
  border-radius: 0;
  border-bottom: solid rgba(0, 0, 0, 0.5) 1px;
  background-color: rgba(0, 0, 0, 0.05);
}

.mythras .skill-sheet .upper-flex .skill-section .improvements-flex input:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.mythras .skill-sheet .upper-flex .skill-section .combat-flex {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.mythras .skill-sheet .upper-flex .skill-section .combat-flex input:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.mythras .skill-sheet .upper-flex .skill-section .combat-flex input:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.mythras .skill-sheet .upper-flex .skill-section .desc.skill-section {
  height: 100%;
  margin-bottom: 0px;
}

.mythras .skill-sheet .upper-flex .skill-section .desc.skill-section .editor {
  height: 100%;
}

.mythras .skill-sheet .upper-flex .skill-section .desc.skill-section .editor div.tox.tox-tinymce {
  height: 100% !important;
}

.mythras .skill-sheet .upper-flex .skill-section .other-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.mythras .skill-sheet .upper-flex .skill-section .other-flex input {
  width: 15px;
  height: 15px;
}

.mythras .skill-sheet .upper-flex .skill-section .other-flex div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mythras .skill-sheet .desc.skill-section {
  height: 100%;
  margin-bottom: 0px;
}

.mythras .skill-sheet .desc.skill-section .editor {
  height: 100%;
}

.mythras .skill-sheet .desc.skill-section .editor div.tox.tox-tinymce {
  height: 100% !important;
}

.mythras .skill-sheet .skill-section {
  margin-bottom: 10px;
  border: solid rgba(0, 0, 0, 0.2) 1px;
  padding: 5px;
}

.mythras .skill-sheet .skill-section-left {
  width: 290px;
  margin-right: 5px;
}

.mythras .skill-sheet .skill-section-right {
  width: 75px;
  margin-left: 5px;
}

.mythras .melee-weapon {
  min-width: 400px;
}

.mythras .melee-weapon h2 {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  margin-top: 15px;
}

.mythras .melee-weapon .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  height: 68px;
}

.mythras .melee-weapon .sheet-body {
  padding: 0px 10px;
}

.mythras .melee-weapon input:focus {
  outline: none;
  outline-style: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mythras .melee-weapon input {
  border: 0;
}

.mythras .melee-weapon select {
  border: 0;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.05);
}

.mythras .melee-weapon select:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.mythras .melee-weapon select:focus {
  outline: none;
  outline-style: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.mythras .melee-weapon .header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url("../assets/sheet/header-background-pattern.jpg");
  background-repeat: repeat;
  -webkit-box-shadow: inset 0 -7px 9px -7px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -7px 9px -7px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.mythras .melee-weapon .header-flex > h1 {
  text-align: right;
  color: white;
  font-family: 'Amethysta';
  margin: 0px;
  font-size: 2.5em;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mythras .melee-weapon .header-flex h1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mythras .melee-weapon .header-flex h1 input {
  width: 100%;
  margin: 0px;
  color: white;
  border: 0;
  border-bottom: solid white 1px;
  border-radius: 0;
  font-family: 'Fanwood';
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 0px 6px black;
}

.mythras .melee-weapon .header-flex h1 input:focus {
  background-color: rgba(255, 255, 255, 0.05);
}

.mythras .melee-weapon .header-flex h1 input:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.mythras .melee-weapon .equipment-core {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mythras .melee-weapon .equipment-core .equip-core-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.mythras .melee-weapon .equipment-core .equip-core-section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mythras .melee-weapon .equipment-core .core-info {
  font-size: 1em;
}

.mythras .melee-weapon .equipment-core input {
  text-align: center;
  width: 40px;
  height: 20px;
}

.mythras .melee-weapon .weapon-core {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mythras .melee-weapon .weapon-core .weapon-core-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mythras .melee-weapon .weapon-core .weapon-core-section .weapon-piece {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mythras .melee-weapon .weapon-core .weapon-core-section .weapon-piece input {
  text-align: center;
}

.mythras .melee-weapon .weapon-core .weapon-core-section .weapon-piece .range-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.mythras .melee-weapon .weapon-core .weapon-core-section .weapon-piece .range-info input {
  width: 40px;
}

.mythras .melee-weapon .weapon-core .weapon-core-section .weapon-piece .range-info .range-piece {
  font-size: 0.8em;
}

.mythras .melee-weapon .weapon-core .core-info {
  font-size: 1em;
}

.mythras .melee-weapon .equip-section {
  border-bottom: solid 1px silver;
  padding: 15px 5px;
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.mythras .melee-weapon .desc.skill-section {
  height: 100%;
  margin-bottom: 0px;
}

.mythras .melee-weapon .desc.skill-section .editor {
  height: 100%;
}

.mythras .melee-weapon .desc.skill-section .editor div.tox.tox-tinymce {
  height: 100% !important;
}
