div.abilities {
  margin: 0;
  > h2 {
    margin-top: 5px;
    margin-bottom: 13px;
    color: #191813;
    border: none;
    font-size: 21px;
  }
  height: calc(100% - 25px);
  > div {
    height: 100%;
    padding: 5px;
    border: solid rgba(0, 0, 0, 0.2) 1px;
    .desc {
      height: 100%;
      margin-bottom: 0px;
      .editor {
        div.tox.tox-tinymce {
          height: 100% !important;
        }
        height: 100%;
      }
    }
  }
}
