.tabs > * {
  flex: 0;
}

nav.sheet-tabs {
  font-family: 'Suravaram';
  font-size: 1.2em;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex: 0 0 30px;

  div {
    display: inline-block;
    width: 80px;
  }

  a:hover {
    text-shadow: none;
  }

  .dividing-diamond {
    width: 7px;
    height: 7px;
    border: 0;
  }

  .active {
    text-shadow: none;
  }

  a:after {
    display: block;
    content: '';
    border-bottom: solid 1px #333;
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
  }
  a:hover:after {
    transform: scaleX(1);
  }
  a.active:after {
    transform: scaleX(1);
  }
}

section.sheet-body {
  padding: 10px;
}
