<form class="{{cssClass}} melee-weapon flexcol" autocomplete="off">
  <header class="sheet-header">
    <div class="header-flex">
      <div class="header-fields">
        <h1 class="charname">
          <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </h1>
      </div>
    </div>
  </header>

  {{!-- Decorative Symbol Divider --}}
  {{> systems/mythras/templates/global/mythras-symbols.html}}

  {{!-- Sheet Body --}}
  <section class="sheet-body flexcol">
    <div class="equip-section">
      <div class="equipment-core">
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.ENC'}}</h3>
            <input type="text" name="data.encumbrance" value="{{data.encumbrance}}" />
          </div>
        </div>
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.Quantity'}}</h3>
            <input type="text" name="data.quantity" value="{{data.quantity}}" />
          </div>
        </div>
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.AP'}}</h3>
            <input type="text" name="data.ap" value="{{data.ap}}" />
          </div>
          <div>/</div>
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.HP'}}</h3>
            <input type="text" name="data.hp" value="{{data.hp}}" />
          </div>
        </div>
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.Value'}}</h3>
            <input type="text" name="data.value" value="{{data.value}}" />
          </div>
        </div>
      </div>
    </div>
    <div class="equip-section">
      <div class="weapon-core">
        <div class="weapon-core-section">
          <div class="weapon-piece">
            <h3 class="core-info">{{localize 'MYTHRAS.Damage'}}</h3>
            <input type="text" name="data.damage" value="{{data.damage}}" />
          </div>
          <div class="weapon-piece">
            <h3 class="core-info">{{localize 'MYTHRAS.DM'}}</h3>
            <input type="checkbox" name="data.damageModifier" {{checked data.damageModifier}} />
          </div>
          <div class="weapon-piece">
            <h3 class="core-info">{{localize 'MYTHRAS.Size'}}</h3>
            <select id="char-change" name="data.size" data-dtype="String">
              {{#select data.size}}
              <option value="S">{{localize 'MYTHRAS.Small'}}</option>
              <option value="M">{{localize 'MYTHRAS.Medium'}}</option>
              <option value="L">{{localize 'MYTHRAS.Large'}}</option>
              <option value="H">{{localize 'MYTHRAS.Huge'}}</option>
              <option value="E">{{localize 'MYTHRAS.Enormous'}}</option>
              <option value="BE">{{localize 'MYTHRAS.Beyond_Enormous'}}</option>
              {{/select}}
            </select>
          </div>
          <div class="weapon-piece">
            <h3 class="core-info">{{localize 'MYTHRAS.Reach'}}</h3>
            <select id="char-change" name="data.reach" data-dtype="reach">
              {{#select data.reach}}
              <option value="T">{{localize 'MYTHRAS.Touch'}}</option>
              <option value="S">{{localize 'MYTHRAS.Short'}}</option>
              <option value="M">{{localize 'MYTHRAS.Medium'}}</option>
              <option value="L">{{localize 'MYTHRAS.Long'}}</option>
              <option value="VL">{{localize 'MYTHRAS.Very_Long'}}</option>
              {{/select}}
            </select>
          </div>
        </div>
        <div>
          <h3 class="core-info">{{localize 'MYTHRAS.Combat_Effects'}}</h3>
          <input type="text" name="data.combat-effects" value="{{data.combat-effects}}" />
        </div>
        <div>
          <h3 class="core-info">{{localize 'MYTHRAS.Traits'}}</h3>
          <input type="text" name="data.traits" value="{{data.traits}}" />
        </div>
      </div>
    </div>
    <h2>{{localize 'MYTHRAS.Description'}}</h2>
    <div class="desc skill-section" data-group="primary">
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
      <!--<textarea class="editor" name="data.description">{{data.description}}</textarea>-->
    </div>
  </section>

  {{!-- Decorative Symbol Divider --}}
  {{> systems/mythras/templates/global/mythras-symbols.html}}
</form>